body{
    background-image:url(Images/bg.png);
    background-repeat:round;
    background-size:cover;
    background-attachment: fixed;
}
.logo-bg{
    position: absolute;
    margin-top:30px;
    margin-left:30px;
    width: 126px;
    height: 126px;
    border-radius: 80px;
    background-color:rgb(0, 0, 0);
    border-width: thick;
}
.logo{
    position: absolute;
    margin-top: 15px;
    margin-left: 12px;
    border-radius: 90px;
    height:100px; 
    width:100px;
}
.nav-bar{
    position:absolute;
    margin-top:80px;
    margin-left:700px;
    width: 750px;
    height: 60px;
    background-color: black;
    border-radius:30px;
}
.home-btn{
    position: absolute;
    margin-top:15px;
    margin-left:35px;
    color: #FFFF;
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-style: normal;
    
}
.portfolio-btn{
    position: absolute;
    margin-top:15px;
    margin-left:155px;
    color: #FFFF;
    font-size:1.5em;
    font-family:'Open Sans';
    font-style: normal 
}
.resume-btn{
    position: absolute;
    margin-top:15px;
    margin-left:320px;                    
    color:#FFFF;
    font-size: 1.5em;
    font-family:'Open Sans';
    font-style: normal
}
.about-btn{
    position: absolute;
    margin-top:15px;
    margin-left:480px;
    font-size: 1.5em;
    color: #68B0E5;
    font-family:'Open Sans';
    font-style: normal;
}
.contact-btn{
    position: absolute;
    margin-top:15px;
    margin-left: 620px;
    font-size: 1.5em;
    color: #FFFF;
    font-family:'Open Sans';
    font-style: normal;
}
.heading{
    color: #FFFF;
    position: absolute;
    margin-top:100px;
    margin-left:200px;
    font:100;
    font-size:6.5em;
    font-weight:200;
}
.basic-bg{
    position: absolute;
    top: 270px;
    left: 30px;
    height: 400px;
    width: 700px;
    background-color:#38b6ffa6;
}
.basic-heading{
    font-family: Anton;
    font-size: 2.5em;
    position: absolute;
    top: 250px;
    left: 60px;
    color: #FFFF;
    font-weight: 100;
    background-color:#000000a6;
    padding-left: 5px;
    padding-right: 5px;
    }
.age{
    position: absolute;
    top: 320px;
    left: 60px;
    font-size: 2.2em;
    color: #FFFF;
    font-family: Anonymous Pro; 
}
.dob{
    position: absolute;
    top: 360px;
    left: 60px;
    font-size: 2.2em;
    color: #FFFF;
    font-family: Anonymous Pro;
}
.city{
    position: absolute;
    top: 400px;
    left: 60px;
    font-size: 2.2em;
    color: #FFFF;
    font-family: Anonymous Pro;
}
.degree{
    position: absolute;
    top: 440px;
    left: 60px;
    font-size: 2.2em;
    color: #FFFF;
    font-family: Anonymous Pro;
}
.email{
    position: absolute;
    top: 480px;
    left: 60px;
    font-size: 2.2em;
    color: #FFFF;
    font-family: Anonymous Pro;
    }
.phone-no{
    position: absolute;
    top: 520px;
    left: 60px;
    font-size: 2.2em;
    color: #FFFF;
    font-family: Anonymous Pro;
}
.photo{
    position: absolute;
    top: 200px;
    left: 1000px;
    filter: grayscale(100%);
    background-color:hsla(0, 0%, 100%, 0.452);
    padding: 20px;
    height:500px;
    width:350px;
    }