@font-face {
    src: url(Fonts/Selima/selima.otf);
    font-family: Selima;
  }
@font-face{
  src: url(Fonts/Lovelo/Lovelo-Black.otf);
  font-family: Lovelo;
}
@font-face{
  src: url(Fonts/LeagueSpartan/LeagueSpartan-Bold.otf);
  font-family: League Spartan;
}
  
.heading {
    font-family: Selima;
  }



